<div class="loginContainer">

  <h2 class="loginText">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="loginField">
      <%= f.label :email, class:"textLabel" %><br />
      <%= f.email_field :email,class:"loginFill", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="loginField">
      <%= f.label :password, class:"textLabel" %><br />
      <%= f.password_field :password,class:"loginFill", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="loginField">
        <%= f.check_box :remember_me, class:"rememberBox" %>
        <%= f.label :remember_me, class:"rememberLabel" %>
      </div>
    <% end %>

    <div class="loginActions">
      <%= f.submit "Log in", class:"loginButton" %>
    </div>
  <% end %>

  <div class="loginLinks">
    <%= render "devise/shared/links" %>
  </div>
</div>