<div class="tcontainer" id="<%= dom_id transaction %>">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= transaction.income %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= transaction.classification %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= transaction.account %>
  </p>

</div>
