<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>

<div class="iContainer">
 <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Classification</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <% if transaction.user == current_user %>
        <tr>
          <td><%= transaction.name %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.currency %></td>
          <td><%= transaction.classification %></td>
          <td><%= transaction.date %></td>
          <td><%= link_to 'Modify', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
</table>
</div>

<% else %>

<h1>Welcome</h1>
<h3>Please log in to view your expense tracker</h3>

<% end %>