<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>

<div class="expenditureContainer">
    <div class="totalContainer">
      <h2>Total Expenditure</h2>
      <h3>$<%= Transaction.sum(:amount)  %></h3>
    </div>

    <div class="totalContainer">
      <h2>Total Income</h2>
      <h3>$<%= Transaction.sum(:income)  %></h3>
    </div>

    <div class="totalContainer">
      <h2>Budget Difference</h2>
      <h3>$<%= Transaction.sum(:income) - Transaction.sum(:amount) %></h3>
    </div>
</div>

<div class="dateRangeQuery">
  <%= form_tag transactions_path, class:"tPath", method: :get do %>
    <%= text_field_tag 'search[date_from]', @search.date_from, class:"textQ" %>
    <%= text_field_tag 'search[date_to]', @search.date_to, class:"textQ" %>
    <%= submit_tag 'Search Range', class:"searchButton" %>
  <% end %>
</div>

<div class="iContainer">
 <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Expense</th>
        <th>Income</th>
        <th>Classification</th>
        <th>Date</th>
        <th>Account Info</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <% if transaction.user == current_user %>
        <tr>
          <td><%= transaction.name %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.income %></td>
          <td><%= transaction.classification %></td>
          <td><%= transaction.date %></td>
          <td><%= transaction.account %> ($<%= Transaction.where(account: transaction.account).sum(:income) - Transaction.where(account: transaction.account).sum(:amount) %>)</td>
          <td><%= link_to 'Modify', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
</table>

</div>

<% else %>

<h1>Welcome</h1>
<h3>Please log in to view your expense tracker</h3>

<% end %>